.SectionMenu {
  display: flex;
  flex-direction: column;
  padding: 0px;

  position: absolute;
  width: 176px;
  height: 251px;
  left: 60px;
  top: 355px;
}

.active {
  font-weight: 900;
  font-size: 14px;
  text-transform: uppercase;
  line-height: 16px;
  color: #262525;
}

.SectionMenu>.SectionMenuItem1 {
  position: static;
  width: 103px;
  left: 0px;
  top: 0px;

  z-index: 5;

  background: none;
  border: none;
  margin: 0;
  padding: 0;
  cursor: pointer;

  /* Desctop/SectionMenuActive */

  font-family: Roboto;
  font-style: normal;
  font-size: 13px;
  line-height: 15px;
  display: inline-block;
  align-items: center;
  letter-spacing: 0.567739px;

  color: #505050;


  /* Inside Auto Layout */

  flex: none;
  order: 0;
  align-self: flex-start;
  margin: 0px 32px 32px;
}



.SectionMenu>.SectionMenuItem2 {
  /* SectionMenu - Благоустройство */
  position: static;
  width: 112px;
  left: 0px;
  top: 48px;

  z-index: 5;

  background: none;
  border: none;
  margin: 0;
  padding: 0;
  cursor: pointer;

  /* Desctop/SectionMenu */

  font-family: Roboto;
  font-style: normal;

  font-size: 13px;
  line-height: 15px;
  display: inline-block;
  align-items: center;
  letter-spacing: 0.567739px;

  /* TextDisable */

  color: #505050;

  /* Inside Auto Layout */

  flex: none;
  order: 1;
  align-self: flex-start;
  margin: 0px 32px 32px;
}

.SectionMenu>.SectionMenuItem3 {
  /* SectionMenu - Безопастность */
  position: static;
  width: 98px;
  left: 0px;
  top: 95px;
  
  z-index: 5;

  background: none;
  border: none;
  margin: 0;
  padding: 0;
  cursor: pointer;

  /* Desctop/SectionMenu */

  font-family: Roboto;
  font-style: normal;

  font-size: 13px;
  line-height: 15px;
  display: inline-block;
  align-items: center;
  letter-spacing: 0.567739px;

  /* TextDisable */

  color: #505050;

  /* Inside Auto Layout */

  flex: none;
  order: 2;
  align-self: flex-start;
  margin: 0px 32px 32px;
}

.SectionMenu>.SectionMenuItem4 {
  /* SectionMenu - Инженерия */

  position: static;
  width: 74px;
  left: 0px;
  top: 142px;

  z-index: 5;

  background: none;
  border: none;
  margin: 0;
  padding: 0;
  cursor: pointer;

  /* Desctop/SectionMenu */
  font-family: Roboto;
  font-style: normal;

  font-size: 13px;
  line-height: 15px;
  display: inline-block;
  align-items: center;
  letter-spacing: 0.567739px;

  /* TextDisable */
  color: #505050;

  /* Inside Auto Layout */
  flex: none;
  order: 3;
  align-self: flex-start;
  margin: 0px 32px 32px;

}

.SectionMenu>.SectionMenuItem5 {
  /* SectionMenu - Инфраструктура */

  position: static;
  width: 108px;
  left: 0px;
  top: 189px;

  z-index: 5;

  background: none;
  border: none;
  margin: 0;
  padding: 0;
  cursor: pointer;

  /* Desctop/SectionMenu */
  font-family: Roboto;
  font-style: normal;

  font-size: 13px;
  line-height: 15px;
  display: inline-block;
  align-items: center;
  letter-spacing: 0.567739px;

  /* TextDisable */
  color: #505050;

  /* Inside Auto Layout */
  flex: none;
  order: 4;
  align-self: flex-start;
  margin: 0px 32px 32px;

}

.SectionMenu>.SectionMenuItem6 {
  /* SectionMenu - Транспортная доступность */

  position: static;

  left: 0px;
  top: 236px;

  z-index: 5;

  background: none;
  border: none;
  margin: 0;
  padding: 0;
  cursor: pointer;

  /* Desctop/SectionMenu */
  font-family: Roboto;
  font-style: normal;

  font-size: 13px;
  line-height: 15px;
  display: inline-block;
  align-items: center;
  letter-spacing: 0.567739px;

  /* TextDisable */
  color: #505050;

  /* Inside Auto Layout */
  flex: none;
  order: 5;
  align-self: flex-start;
  margin: 0px 32px 32px;
  white-space: nowrap;
}

.SectionMenuActive {

  /* Auto Layout */

  display: flex;
  flex-direction: column;
  padding: 0px;

  position: absolute;
  width: 111px;
  height: 244px;

}

.SectionMenuItem1:hover .SectionMenuActiveItem1 {
  display: block;
}

.SectionMenuActiveItem1 {
  transform: translate(0, -75%);
  /* bottom: calc(50%); */
  display: none;
  position: absolute;
  width: 111px;
  height: 9px;
  left: calc(50% - 111px/2);
  /* top: calc(100%); */
  background: #EBD8CC;
  flex: none;
  order: 0;
  align-self: flex-start;
  margin: 0px 0px;

  z-index: -1;
}

.SectionMenuItem2:hover .SectionMenuActiveItem2 {
  display: block;
}

.SectionMenuActiveItem2 {
  /*SectionMenuActive-Благоустройство*/
  transform: translate(0, -75%);
  /* bottom: calc(50%); */
  display: none;
  position: absolute;
  width: 113px;
  height: 9px;
  left: calc(50% - 111px/2);
  /* top: calc(100%); */
  background: #EBD8CC;
  flex: none;
  order: 0;
  align-self: flex-start;
  margin: 0px 0px;

  z-index: -1;
}

.SectionMenuItem3:hover .SectionMenuActiveItem3 {
  display: block;
}

.SectionMenuActiveItem3 {
  /* SectionMenuActive - Безопастность */

  z-index: -1;

  transform: translate(0, -75%);
  /* bottom: calc(50%); */
  display: none;
  position: absolute;
  width: 100px;
  height: 9px;
  left: calc(50% - 111px/2);
  /* top: calc(100%); */
  background: #EBD8CC;
  flex: none;
  order: 0;
  align-self: flex-start;
  margin: 0px 0px;
}

.SectionMenuItem4:hover .SectionMenuActiveItem4 {
  display: block;
}

.SectionMenuActiveItem4 {
  /* SectionMenuActive - Инженерия */

  z-index: -1;

  transform: translate(0, -75%);
  /* bottom: calc(50%); */
  display: none;
  position: absolute;
  width: 80px;
  height: 9px;
  left: calc(50% - 111px/2);
  /* top: calc(100%); */
  background: #EBD8CC;
  flex: none;
  order: 0;
  align-self: flex-start;
  margin: 0px 0px;
}

.SectionMenuItem5:hover .SectionMenuActiveItem5 {
  display: block;
}

.SectionMenuActiveItem5 {
  /* SectionMenuActive - Инфраструктура */

  z-index: -1;

  transform: translate(0, -75%);
  /* bottom: calc(50%); */
  display: none;
  position: absolute;
  width: 113px;
  height: 9px;
  left: calc(50% - 111px/2);
  /* top: calc(100%); */
  background: #EBD8CC;
  flex: none;
  order: 0;
  align-self: flex-start;
  margin: 0px 0px;
}

.SectionMenuItem6:hover .SectionMenuActiveItem6 {
  display: block;
}

.SectionMenuActiveItem6 {
  /*SectionMenuActive-Транспортнаядоступность*/
  z-index: -1;

  transform: translate(0, -75%);
  /* bottom: calc(50%); */
  display: none;
  position: absolute;
  width: 185px;
  height: 9px;
  left: calc(50% - 111px/2);
  /* top: calc(100%); */
  background: #EBD8CC;
  flex: none;
  order: 0;
  align-self: flex-start;
  margin: 0px 0px;
}