.Header {
  position: absolute;
  width: 100%;
  height: 60px;
  top: 0px;

  /* Background */

  background: #FFFFFF;
}

.LogoText {
  position: absolute;
  width: 139px;
  height: 21px;
  left: 117px;
  top: 22.68px;
  margin: unset;

  /* Desctop/Special */

  font-family: Gilroy;
  font-style: normal;
  font-weight: bold;
  font-size: 17px;
  line-height: 21px;
  /* identical to box height */

  letter-spacing: 0.290629px;
  text-transform: uppercase;

  /* Base */

  color: #262525;
}

.Logo {
  /* IconLogo */

  position: absolute;
  width: 70px;
  height: 70px;
  left: 24px;
  top: 25px;

  /* Base */
  background: #262525;

}

.LogoBox {
  width: 232px;
  height: 72.32px;
  left: 24px;
  top: 22.68px;
}

.Burger {
  position: absolute;
  width: 70px;
  height: 70px;
  right: 25px;
  top: 25px;

  z-index: 10;
}

.BurgerBackground {
  width: 70px;
  height: 70px;
  top: 25px;

  /* Base */

  background: #262525;
}

.BurgerIcon {
  position: absolute;
  width: 27.01px;
  height: 27.01px;
  right: 25px;
  top: 47px;

  /* Background Alternative */

  background: #F0F0F0;
}

.Number {
  position: absolute;
  width: 128px;
  height: 21px;
  right: 122px;
  top: 22.81px;
  margin: unset;

  /* Desctop/Special */

  font-family: Gilroy;
  font-style: normal;
  font-weight: bold;
  font-size: 17px;
  line-height: 21px;
  /* identical to box height */

  letter-spacing: 0.290629px;
  text-transform: uppercase;

  /* Base */

  color: #262525;
}

.HeaderMenu {
  display: flex;
  flex-direction: row;
  padding: 0;
  margin: 0;
  cursor: pointer;

  position: absolute;
  width: 558px;
  height: 15px;
  top: 22px;
  left: calc(50% - 558px/2 - 0.5px);
}

.HeaderMenu>.MenuItem1 {
  position: static;
  width: calc(50% - 56px);
  height: 15px;
  left: 0px;
  top: 0px;
  /* Desctop/HeaderMenu */

  font-family: Gilroy;
  font-style: normal;
  font-weight: bold;
  font-size: 12px;
  line-height: 15px;
  /* identical to box height */

  letter-spacing: 0.8px;
  text-transform: uppercase;

  /* Base */

  color: #262525;

  /* Inside Auto Layout */

  flex: none;
  order: 0;
  align-self: center;
  margin: 56px 0px;
}

.HeaderMenu>.MenuItem2 {
  position: static;
  width: calc(50% - 56px);
  height: 15px;
  left: 147px;
  top: 0px;


  /* Desctop/HeaderMenu */

  font-family: Gilroy;
  font-style: normal;
  font-weight: bold;
  font-size: 12px;
  line-height: 15px;
  /* identical to box height */

  letter-spacing: 0.8px;
  text-transform: uppercase;

  /* Base */

  color: #262525;

  /* Inside Auto Layout */

  flex: none;
  order: 1;
  align-self: center;
  margin: 56px 0px;
}

.HeaderMenu>.MenuItem3 {
  position: static;
  width: calc(50% - 56px);
  height: 15px;
  left: 301px;
  top: 0px;

  /* Desctop/HeaderMenu */

  font-family: Gilroy;
  font-style: normal;
  font-weight: bold;
  font-size: 12px;
  line-height: 15px;
  /* identical to box height */

  letter-spacing: 0.8px;
  text-transform: uppercase;

  /* Base */

  color: #262525;

  /* Inside Auto Layout */

  flex: none;
  order: 2;
  align-self: center;
  margin: 56px 0px;
}

.HeaderMenu>.MenuItem4 {
  position: static;
  width: calc(50% - 56px);
  height: 15px;
  left: 433px;
  top: 0px;

  /* Desctop/HeaderMenu */

  font-family: Gilroy;
  font-style: normal;
  font-weight: bold;
  font-size: 12px;
  line-height: 15px;
  /* identical to box height */

  letter-spacing: 0.8px;
  text-transform: uppercase;

  /* Base */

  color: #262525;

  /* Inside Auto Layout */

  flex: none;
  order: 3;
  align-self: center;
  margin: 56px 0px;
}

.MenuItem1:hover .MenuActiveItem1 {
  display: block;
}

.MenuActiveItem1 {
  /* MenuActive */
  position: absolute;
  display: none;
  width: 104px;
  height: 4px;
  left: calc(50% - 104px/2 - 234px);
  top: 44px;

  /* Accent */

  background: #D88F5E;
}